# Default owners for everything in the repo.
# Unless a later match takes precedence, the Maintainers team
# will be requested for review when someone opens a pull request.
*       @open-component-model/Maintainers

# Changes on repository settings require admin permissions
/.github/settings.yml   @open-component-model/admins
/.github/CODEOWNERS     @open-component-model/admins

# Owners for specific directories

# The Technical Steering Committee (TSC) is responsible for the overall direction of the Open Component Model.
# As such all technical decisions, including those related to the codebase, are overseen by the TSC.
# Additionally, all documentation on the steering committee and architectural decisions is managed by it.
/docs/steering  @open-component-model/tsc
/docs/adr       @open-component-model/tsc

# Owners for specific file types
#*.md    @<org>/<team>
#*.go    @<org>/<team>

# Individual users as owners, e.g. a lead maintainer for a specific component:
# /src/critical-component/   @lead-maintainer-username
